body {
    background-color: black;
}

body::-webkit-scrollbar {
    display: none;
}

.clash {
    font-size: 28px;
}

.logo {
    position: absolute;
    top: 5%;
    left: 2%;
    color: orange;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    line-height: 3px;
}

.logo a {
    color: orange;
}

.logo a:hover {
    color: orange;
    text-decoration: none;
}

.content {
    height: auto;
    width: 50vw;
}

.dots {
    position: absolute;
    height: 70vh;
    width: 2vw;
    padding-left: 2vw;
    padding-top: 30vh;
}

.dot {
    border: 1px solid white;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 5vh;
    transition: 0.2s linear;
    cursor: pointer;
}

.dot:hover {
    transform: scale(1.4);
    background-color: white;
}

.ON {
    transform: scale(1.4);
    background-color: orange;
    border: 1px solid orange;
}

.ON:hover {
    background-color: orange;
}

.content-left {
    width: 50vw;
    float: left;
    height: 100%;
}

.info {
    height: 70vh;
    width: 40vw;
    margin-left: 10vw;
    margin-top: 15vh;
    color: white;
    font-family: 'Exo 2', sans-serif;
}

.info-bg {
    left: 10vw;
    top: 15vh;
    position: absolute;
    width: 40vw;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
    animation: fadeIn 2s; 
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.description {
    width: 100%;
    height: 52%;

}

.stats {
    width: 100%;
    height:30%;
    padding: 2%;
}

.stat {
    padding: 1%;
}

.fa-solid {
    color: white;
}

.attack {
    width: 20px;
    height: 20px;
}

.details {
    margin-left: 20vh;
    margin-top: 7vh;
}

.more {
    font-family: 'Russo One', sans-serif;
    cursor: pointer;
    background-color: orange;
    color: black;
    padding: 10px 20px 10px 20px;
    border: 1px solid orange;
    border-radius: 10px;
    transition: 0.2s linear;
    width: auto;
}

.more:hover {
    background-color: white;
    border: 1px solid white;
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 500px) {
    .content-left {
        width: 60vw !important;
    }
    .dot {
        height: 8px;
        width: 8px;
    }
    .details {
        margin-left: 2vh;
        position: absolute;
        bottom: 10px !important;
    }
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 11px;
    }
    .info {
        width: 55vw;
        height: 70vh;
    }
    .info-bg {
        display: none;
    }
}